* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* start header  */
header{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    z-index: 11;
}
header .navbar-light .navbar-nav .nav-link{
    color:#ffffff;
    transition: 0.3s;
    position: relative;
}
header .navbar-light .navbar-nav .nav-link::before{
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -5px;
    background-color: #35a22c;
    transition: 0.3s;
}
header .navbar-light .navbar-nav .nav-link:hover::before{
    width: 100%;

}
header .navbar-light .navbar-nav .active .nav-link{
    color:#35a22c;
}
header .navbar-light .navbar-nav .nav-link:hover{
    color:#35a22c;
}
header .navbar-light .navbar-nav .active>.nav-link {
    color:#35a22c;
}

header .navbar-light .navbar-nav .active>.nav-link::before {
    color:#35a22c;
    width: 100%;
}
/* end heard  */
/* start carousel */
.icon1{
    color: #35a22c;
}
.display-4{
    font-size: 2.5rem;
    text-decoration:none
}
.my-3 {
    color: #585858;
    line-height: 24px;
    margin-bottom: 1rem;
    text-align: center;
}

 .text-uppercase{
     font-weight:  600;
 }
.carousel_bg{
    height: 100vh;
    object-fit: cover;
}

#carousel .carousel-caption img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}
#carousel .carousel-caption {
    bottom: 30%;
}
#carousel .carousel-item::before{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4 );
    top: 0;
    left: 0;
}
.carousel-indicators li{
width: 20px;
height: 20px;
border-radius: 50%;
}
.carousel-indicators li.active{
    background-color: #35a22c;
}
/* end carousel  */
#products .item_content{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 450px;
    text-align: center;
    cursor: pointer;
}
#products .item_content img{
    height: 350px;
    object-fit: cover;
    
}
#products .item_content .title{
    padding: 15px;
    height: 100px;
    border:2px solid #fff;
    border-top: none;
    border-radius: 0 0 16px 16px;
    border-top-color:#ffffff;
    transition: 0.3s;
}
#products .item_content:hover .title{
    color:#35a22c;
    border-color: #35a22c;
    border-top-color:#ffffff ;
    border-top: none;
    border-radius: 0 0 16px 16px;
}  
.team1{
    display: inline-flex;
}


.card{
    border-radius: 2px black solid;
    margin: 0 5px;
}
.card a {
    color: #000;
}
.green{
    background-color: #35a22c;
    color: #fff;
}
.card:hover a{
    background-color: #35a22c;
    color: #fff;
}
.green:hover a{
    background-color: #fff;
    color: #000;
}

.feature{
    background-image: url(./image_2/3.jpg);
    width: 100%;
    height:120vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0 120px;
    position: relative;
}
.feature__item {
    color: #fff;
}
.feature {
    background: url(./image_2/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}
.feature .overlay {
    background: rgba(7,10,12,.72);
}
.feature .heading {
    position: relative
}
.feature__item {
    padding: 40px 40px;
    transition: .3s;
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    transition: all 0.5s;
}
.feature__item i {
    font-size: 48px;
    color: #35a22c;
}
.feature__item h4 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}
.feature__item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.feature__item:hover {
    background: #000;
    border-color: #fff;
}
.projects__item {
    margin-top: 30px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 .4rem rgba(0,0,0,.13);
    border: none;
    cursor: pointer;
}
.projects__item p {
    color: #585858;
}
.projects__item .card-body {
    border: 1px solid transparent;
    border-radius: 0 0 1rem 1rem;
    transition: all 0.5s;
}
.projects__item:hover .card-body {
    border-color: #35a22c;
    border-top-color: transparent;
}
.projects__item:hover h3 {
    color: #35a22c;
}

.projects .nav-pills .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;
}

.projects .nav-pills .nav-link.active,.projects .nav-pills .show>.nav-link {
    background-color: #35a22c;
    color: #fff;
    border-color: #35a22c;
}
.edu {
    background: #272b36 url(./image_2/memphis_2.png) no-repeat top right;
    background-size: cover;
}
.edu__content {
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
    padding: 45px;
}
.edu__content h3 {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    line-height: 42px;
}
.edu__content h5 {
    padding: 6px 10px 5px 10px;
    border: 2px solid #35a22c;
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}
.edu__content h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}
.edu__content p {
    line-height: 24px;
    color: #585858;
    opacity: 0.5;
}
.text {
    position: relative;
    color: #585858;
    padding: 70px 0;
}
.text__bg {
    background-image: url(./image_2/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.text__left {
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
    padding: 45px;
}
.text__right {
    padding: 45px 0;
}
footer {
    background: #222;
}
footer a {
    color: #aaa;
}
footer p {
    color: #aaa;
}
footer a:hover {
    text-decoration: none;
    color: #35a22c;
}
.footer__main i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all 0.5s;
}
.footer__main a {
    margin-right: 10px;
}
.footer__main a:last-child {
    margin-right: 0;
}
.footer__copies {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}
.footer__main i:hover {
    border-color: #35a22c;
}
